# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.BallSpinner-Application.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.suo
*.user
_ReSharper.*
bin
obj
packages

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/libraries
.vs
/.idea/.idea.BallSpinner-Application/.idea/deploymentTargetSelector.xml
#ignore sdk resolver files
*csproj.SdkResolver*
